<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>dukzcry</string>
	<key>GroupName</key>
	<string>staff</string>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>org.mpd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/mpd</string>
		<string>/usr/local/etc/mpd.conf</string> 
		<string>--no-daemon</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
